@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'star Wars Sans JP';
  src: url('../public/fonts/SFDistantGalaxy.ttf');
}

.App {
  background-image: url('../public/images/desktop-1440x900\ \(1\).jpg');
  background-size: contain;
  background-repeat: repeat;
  /* Allow the image to repeat */
  background-position: center;
}